// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
    display: flex;
    align-items: baseline;
    margin: 50px
}


.left, .right {
    padding: 50px;
    border: 2px solid rgb(130, 173, 179);
    border-radius: 4px;
}
.left {
    margin: 100px
}