<div class=wrapper>
    <div class=left>
        <% @emails.each do |email| %>
            <ul>
                <li><%= email.object %></li>            
            </ul>
            <hr>
        <% end %>
    </div>

    <div class=right>
        <% @emails.each do |email| %>
            <h2><%= email.object %></h2>
            <br>
            <p><%= email.body %></p>
        <% end %>
    </div>
</div>
